.main-login{
    margin-top: 0px;
    background-color: #cccccc;
    height: 625px;
}
.main-login img{
    margin-left: 47.5%;
    margin-bottom: 5%;
}
.form-login{
    text-align: center;
    margin: 0 auto;
    width: 400px;
    border-radius: 2em;
    background-color: white;
}
.bot-form-login input{
    border: 0.5px solid;
    border-radius: 0.7em;
}

#username{
    margin-top: 30px;
}

.bot-form-login input{
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
    outline: none;
}
.header{
    display: none;
}
#errorPassword{
    color: red;
}
#button-login{
    background-color: #cccccc;
    color: black;
    border: none;
}