#totalPrice{
    color: white;
    text-align: center;
}
table tbody tr th, table tbody tr td{
    text-align: center !important;
}
#total{
    color:white;
    width: 15%;
    margin-left: 80%;
}
hr{
    color:white;
}
.head-of-order{
    color: white;

}

.accordion-button i{
  color: white;
  
}
.accordion-button::after{
  display: none;
}
.accordion-item{
  border:none;
  border-top: 2px solid white;
}
.left-body{
  padding: 0px;
}
.accordion-collapse a{
  color: white;
  text-decoration: none;
}

.dropdown button{
  margin-top: -3px;
}

.dropdown-toggle{
  width: 100%;
}
.title-body h4{
  color: white;
}
.title-body{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 70px;
  margin-bottom: 15px;
  background-color: #19232f;
}
.processOrder{
  padding-top: 15px;
  width: 97%;
}
a{
  color: white;
  text-decoration: none;
}

.accordion-button{
  border-radius: 0em !important;
}
#view-customer, #view-list-product{
  width: 97%;
  color: white;
  margin-left: 15px;
}
#view-list-product{
  margin-top: 30px;
}