.content-body{
    background-color: #19232f;
    margin-top: 10px;
    padding-top: 15px;
    height: 600px;
}
.content-body h4{
    color: white;
    margin-left: 15px;
}
#content{
    background-color: #273444;
    width: 80%;
    padding-top: 15px;
}
#head{
    display: flex;
    z-index: 1;
    margin-left: 30px;
}
.left-body{
    height: 100%;
    background-color: #273444;
    padding: 0px;
}
.accordion-button{
    border-radius: 0em !important;
  }

.name-image p{
    color: white;
    opacity: 100%;
}
#head img{
    border-radius: 5em;
    height: 150px;
}

#head img, #head div{
    margin-top: 20px;
}
#email i{
    color: white;
}
.content{
    color: white;
    margin-left: 50px;
    font-size: 110%;
}
#content{
    margin-top: 30px;
}
.content i{
    margin-top: 3px;
}
#name, #location{
    font-size: 140%;
}
#changePassword button{
    color: white;
    display: flex;
    margin-left: 63px;
    margin-top: 20px;
    height: 40px;
    border-radius: 1em;
}
#changePassword button i{
    margin-left: 18px;
    margin-top: 12px;
}
#changePassword button p{
    font-size: 110%;
    margin-top: 7px;
    margin-left: 18px;
}

#changePassword button{
    background-color: #1C242B;
    border: none;
    width: 170px;
}
.detail{
    background-color: #1C242B;
    width: 250px;
    height: 30px;
    border: none;
    color: white;
    outline: none;
}
.submit input{
    color: white;
    background-color: black;
    border: none;
    height: 35px;
    width: 130px;
    border-radius: 15px;
    margin-left: 345px;
    margin-top: 15px;
}


 