<head>
    <link rel="stylesheet" href="~/css/new.css?v=1">
</head>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutCustomer";
}

<div class="main_child">
    <div class="container">
        @* <div class="row">
            <div class="productlist_box1 row">
            <div class="col-xs-12 col-sm-3">
            <div class="productlist_box1w">
            <div class="productlist_box1ct"> <a href="/tin-tuyen-dung" class="productlist_img"><img
            src="/images/Icons/1450944828listpr1.png"></a> <a href="/tin-tuyen-dung"
            class="productlist_txt">Tin tuyển dụng</a> </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-3">
            <div class="productlist_box1w">
            <div class="productlist_box1ct"> <a href="/tin-khuyen-mai" class="productlist_img"><img
            src="/images/Icons/1450944844listpr2.png"></a> <a href="/tin-khuyen-mai"
            class="productlist_txt">Tin khuyến mại</a> </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-3">
            <div class="productlist_box1w">
            <div class="productlist_box1ct"> <a href="/tin-tuc/hoat-dong-noi-bat"
            class="productlist_img"><img src="/images/Icons/1450944855listpr3.png"></a> <a
            href="/tin-tuc/hoat-dong-noi-bat" class="productlist_txt">Hoạt động nổi bật</a> </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-3">
            <div class="productlist_box1w">
            <div class="productlist_box1ct"> <a href="/tin-tuc/tin-tuc-khac" class="productlist_img"><img
            src="/images/Icons/1450944862listpr4.png"></a> <a href="/tin-tuc/tin-tuc-khac"
            class="productlist_txt">Tin tức khác</a> </div>
            </div>
            </div>
            </div>
            </div> *@
        <div class="row">
            <div class="box_news">
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="box_news1"> <a href=""
                                class="img_bnews1"> <img
                                    src="/images/3.jpg" width="100%"
                                    height="auto" alt="Những lí do nên học nghề đầu bếp ngay từ bay giờ"></a>
                            <div class="box_news1_txt">
                                <h3><a href="">Những lí do nên học nghề đầu bếp ngay từ bay giờ</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="row">
                        <div class="box_news1 box_news2"> <a
                                href=""
                                class="img_bnews1"><img src="/images/3.jpg"
                                    alt="Cơ hội làm chủ tiệm bánh chỉ với một khóa học nghề bánh" width="292"
                                    height="182"></a>
                            <div class="box_news1_txt">
                                <h3><a href="">Cơ hội làm chủ tiệm bánh chỉ với một khóa học nghề bánh</a></h3>
                            </div>
                        </div>
                        <div class="box_news1 box_news2"> <a
                                href=""
                                class="img_bnews1"><img src="/images/3.jpg"
                                    alt="Khởi nghiệp thoát nghèo với nghề đầu bếp - Sự lựa chọn tốt" width="292"
                                    height="182"></a>
                            <div class="box_news1_txt">
                                <h3><a href="">Khởi nghiệp thoát nghèo với nghề đầu bếp - Sự lựa chọn tốt</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="row">
                        <div class="box_news1 box_news2"> <a
                                href=""
                                class="img_bnews1"><img
                                    src="/images/3.jpg"
                                    alt="Những lí do để trở thành một đầu bếp chuyên nghiệp" width="292"
                                    height="182"></a>
                            <div class="box_news1_txt">
                                <h3><a href="">Những lí  do để trở thành một đầu bếp chuyên nghiệp</a></h3>
                            </div>
                        </div>
                        <div class="box_news1 box_news2"> <a
                                href="" class="img_bnews1"><img
                                    src="/images/3.jpg"
                                    alt="Lí do đàn ông cũng nên biết vào bếp nấu ăn" width="292" height="182"></a>
                            <div class="box_news1_txt">
                                <h3><a href="">Lí do đàn ông
                                        cũng nên biết vào bếp nấu ăn</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="box_lnews">

                    <div class="Item"> <a href=""
                            class="img_lnews"><img src="/images/3.jpg" width="100%"
                                height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Câu chuyện bán
                                    hàng từ chiếc ốc vít giá 3000đ</a></h3>
                            <p class="date_lnews"> Thứ ba , 13-04-2021 14:43 - <a href=""><span>Tin
                                        tức khác</span></a> </p>
                            <p class="txt_lnews1">Bán hàng không chỉ là một công việc cụ thể mà nó phải được xem như là
                                sứ mênh phục vụ khách hàng. Chỉ khi nào bạn thành tâm với khách hàng thì khách hàng sẽ ở
                                lại với bạn. Học đọc câu chuyện sau đây để cảm nghiệm thêm về cái tâm bán hàng.</p>
                        </div>
                    </div>

                    <div class="Item"> <a href="/"
                            class="img_lnews"><img
                                src="/images/3.jpg"
                                width="100%" height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Những lí do nên
                                    học nghề đầu bếp ngay từ bay giờ</a></h3>
                            <p class="date_lnews"> Thứ năm , 18-03-2021 15:10 - <a
                                    href=""><span>Tin tức khác</span></a> </p>
                            <p class="txt_lnews1">Những lí do nên học nghề đầu bếp ngay từ bay giờ là gì? Bạn nên hiểu
                                rõ để nắm bắt được thời thế ngay từ bây giờ cho bản thân.</p>
                        </div>
                    </div>

                    <div class="Item"> <a href=""
                            class="img_lnews"><img
                                src="/images/3.jpg"
                                width="100%" height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Cơ hội
                                    làm chủ tiệm bánh chỉ với một khóa học nghề bánh</a></h3>
                            <p class="date_lnews"> Thứ năm , 18-03-2021 11:28 - <a
                                    href=""><span>Tin tức khác</span></a> </p>
                            <p class="txt_lnews1">Cơ hội làm chủ tiệm bánh chỉ với một khóa học nghề bánh. Bạn không chỉ
                                đi học để trang bị kiến thức, kỹ năng làm bánh mà còn vừa học vừa làm.</p>
                        </div>
                    </div>

                    <div class="Item"> <a href=""
                            class="img_lnews"><img
                                src="/images/3.jpg"
                                width="100%" height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Khởi
                                    nghiệp thoát nghèo với nghề đầu bếp - Sự lựa chọn tốt</a></h3>
                            <p class="date_lnews"> Thứ tư , 17-03-2021 20:33 - <a href=""><span>Tin
                                        tức khác</span></a> </p>
                            <p class="txt_lnews1">Khởi nghiệp thoát nghèo với nghề đầu bếp. Nghề đầu bếp là một nghề
                                trong khối dịch vụ mà hiện nay đang cực kỳ khát nguồn nhân lực.</p>
                        </div>
                    </div>
                </div>

            </div>

            @* <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="box_lnews">

                    <div class="Item"> <a href=""
                            class="img_lnews"><img src="/images/3.jpg" width="100%"
                                height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Câu chuyện bán
                                    hàng từ chiếc ốc vít giá 3000đ</a></h3>
                            <p class="date_lnews"> Thứ ba , 13-04-2021 14:43 - <a href=""><span>Tin
                                        tức khác</span></a> </p>
                            <p class="txt_lnews1">Bán hàng không chỉ là một công việc cụ thể mà nó phải được xem như là
                                sứ mênh phục vụ khách hàng. Chỉ khi nào bạn thành tâm với khách hàng thì khách hàng sẽ ở
                                lại với bạn. Học đọc câu chuyện sau đây để cảm nghiệm thêm về cái tâm bán hàng.</p>
                        </div>
                    </div>

                    <div class="Item"> <a href=""
                            class="img_lnews"><img
                                src="/images/3.jpg"
                                width="100%" height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Những lí do nên
                                    học nghề đầu bếp ngay từ bay giờ</a></h3>
                            <p class="date_lnews"> Thứ năm , 18-03-2021 15:10 - <a
                                    href="/tin-tuc/tin-tuc-khac"><span>Tin tức khác</span></a> </p>
                            <p class="txt_lnews1">Những lí do nên học nghề đầu bếp ngay từ bay giờ là gì? Bạn nên hiểu
                                rõ để nắm bắt được thời thế ngay từ bây giờ cho bản thân.</p>
                        </div>
                    </div>

                    <div class="Item"> <a href=""
                            class="img_lnews"><img
                                src="/images/3.jpg"
                                width="100%" height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Cơ hội
                                    làm chủ tiệm bánh chỉ với một khóa học nghề bánh</a></h3>
                            <p class="date_lnews"> Thứ năm , 18-03-2021 11:28 - <a
                                    href="/tin-tuc/tin-tuc-khac"><span>Tin tức khác</span></a> </p>
                            <p class="txt_lnews1">Cơ hội làm chủ tiệm bánh chỉ với một khóa học nghề bánh. Bạn không chỉ
                                đi học để trang bị kiến thức, kỹ năng làm bánh mà còn vừa học vừa làm.</p>
                        </div>
                    </div>

                    <div class="Item"> <a href=""
                            class="img_lnews"><img
                                src="/images/3.jpg"
                                width="100%" height="auto"></a>
                        <div class="txt_lnews">
                            <h3><a href="">Khởi
                                    nghiệp thoát nghèo với nghề đầu bếp - Sự lựa chọn tốt</a></h3>
                            <p class="date_lnews"> Thứ tư , 17-03-2021 20:33 - <a href="/tin-tuc/tin-tuc-khac"><span>Tin
                                        tức khác</span></a> </p>
                            <p class="txt_lnews1">Khởi nghiệp thoát nghèo với nghề đầu bếp. Nghề đầu bếp là một nghề
                                trong khối dịch vụ mà hiện nay đang cực kỳ khát nguồn nhân lực.</p>
                        </div>
                    </div>
                </div>
            </div> *@

            <div class=" col-xs-12 col-sm-8 col-md-8 pagi">
                <ul class="pagination">
                    <li class="active"><a href="" title="page 1">1</a></li>
                    <li><a href="" title="page 2">2</a></li>
                    <li><a href="" title="page 3">3</a></li>
                    <li><a href="" title="page 4">4</a></li>
                    <li><a href="" title="page 5">5</a></li>
                    <li><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>