.item {
    width: 250px !important;    
    
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}}

.info_sub{
    display: flex;
}
.info_sub p{
    margin-left: 40px
}
/* @media (min-width: 992px){
.container {
    width: 970px;
}}

@media (min-width: 768px){
.container {
    width: 750px;
}}

@media (max-width: 1024px) {
    .content3-bottom .img_boxliw_images {
        height: auto
    }
    .bread78 {
        margin-top: 15px
    }
    .list_course {
        margin-top: 0
    }
    .view_all {
        display: none
    }
    .clnews-title .box_clnews-index-title {
        padding-top: 60px
    }
    .content3-bottom .img_boxliw_images {
        height: auto
    }
    .box_course_pro .owl-carousel .owl-item img,
    .box_course_owner .owl-carousel .owl-item img,
    .box_course_youth .owl-carousel .owl-item img {
        width: 100%
    }
    .box_library .owl-item h4.title,
    .owl-item .title_cat {
        left: 255px;
        right: 15px
    }
    .box_library .owl-item.active h4.title,
    .owl-item.active .title_cat {
        left: 15px;
        right: 255px
    }
}
@media (max-width: 991px) {
    .course_youth .row {
        flex-wrap: wrap
    }
    .box_right_youth_child {
        padding: 15px;
    }
    .cat_course a {
        font-size: 15px
    }
    .box_course_youth {
        padding-bottom: 15px
    }
    .box_library .owl-carousel .owl-item img {
        height: 240px
    }
    .box_library .owl-prev,
    .box_library .owl-prev,
    .box_library .owl-next,
    .box_library .owl-next {
        top: 110px
    }
    .box_library .owl-item.active h4.title,
    .owl-item.active .title_cat {
        display: none
    }
    .box_library .owl-item.active.center h4.title,
    .owl-item.active.center .title_cat {
        display: block !important;
        visibility: visible
    }
}
@media (max-width: 960px) {
    #header .navbar-collapse {
        margin-top: 19px !important
    }
    #header .top_header {
        background: #fff;
        border-bottom: none
    }
    .menu_lg #advanced_menu_toggle {
        border: none;
        color: #666
    }
}
@media (max-width: 991px) {
    .form_ez form input,
    .form_ez form textarea {
        width: 100%
    }
    .box_library .owl-carousel .owl-item img {
        height: 215px
    }
    .course_youth .pr-0 {
        padding-right: unset !important;
        margin-right: 15px
    }
    .box_right_youth {
        margin-right: 15px;
        margin-left: 15px
    }
    .box_right_youth_child {
        background: #fff
    }
}
@media (max-width: 767px) {
    .form_ez .form-group {
        text-align: center
    }
    .form_ez form label {
        text-align: left
    }
    .btn_dhez {
        margin-left: auto
    }
    .btn_now .submitBtn {
        float: left !important
    }
    .item_title_mobile {
        font-weight: 600
    }
    .box_tcez-index .w_cmnttcez .img_cmttcez img {
        height: 117px;
        width: 117px
    }
    .plus i {
        line-height: 32px;
        font-size: 12px
    }
    .plus {
        position: absolute;
        top: calc(100% - 16px);
        right: calc(50% - 16px);
        z-index: 9999;
        width: 32px;
        height: 32px;
        font-size: 15px
    }
    .w_cmnttcez .txt_cmttcez {
        padding-top: 10px
    }
    .box_tcez-index {
        padding-bottom: 0
    }
    .course_youth .list_course_youth .box_img img {
        max-width: 100%
    }
    #jcarousel-tours-slides .img_boxliw_images,
    #jcarousel-tours-slides .img_boxliw_images img {
        min-height: unset !important
    }
    .carousel_clnews-index .carousel-index {
        padding: 0
    }
    .carousel_clnews-index .txt_boxli h3 {
        padding-left: 8px
    }
    .body_course {
        padding: 20px;
        padding-left: 12px;
        padding-right: 15px
    }
    h2 {
        font-size: 18px
    }
    .course_youth h4.title a {
        font-size: 16px
    }
    .cat_course a {
        font-size: 10px
    }
    .info_sub p {
        font-size: 16px
    }
    .box_tcez-index h2 a {
        font-size: 18px
    }
    .box_tcez-index .list_tcez p {
        font-size: 16px
    }
    .box_course_pro h4.title a,
    .box_course_owner h4.title a {
        font-size: 16px
    }
    #relatedBox .owl-next {
        right: 0;
        top: 41px
    }
    #relatedBox .owl-prev {
        left: 0;
        top: 41px
    }
    .list_course.box_clnews-index .clnews-title {
        height: 231px !important
    }
    .library .body img {
        max-width: 100%
    }
    .library .title_cat {
        top: calc(100% - 81px);
        font-size: 10px
    }
    .library .body .title {
        position: absolute;
        top: calc(100% - 46px);
        left: 20px;
        font-size: 18px;
        background: #fff;
        height: 35px;
        line-height: 35px;
        overflow: hidden;
        padding: 0 10px;
        margin: 0
    }
    .body {
        margin-bottom: 18px
    }
    .library {
        margin-bottom: 18px
    }
    .list_course.box_clnews-index {
        padding-bottom: 10px
    }
    #carousel_teacher .owl-prev,
    #carousel_teacher .owl-next {
        top: 45px
    }
    #header .navbar-collapse {
        margin-top: 15px !important
    }
    .view_all {
        display: none
    }
}

@media(max-width: 767px) {
    .box_liclnews .img_boxli {
        min-height: unset;
        height: auto
    }
}


@media (max-width: 1024px) {
    .box_right_destop {
        display: none !important
    }
    .box_right_mobile {
        display: inline-block
    }
    .relate_course .owl-carousel .owl-item .box_img img {
        width: 100%
    }
    .box_relate_course {
        padding-bottom: 0
    }
    #menu_course table {
        margin-bottom: 20px
    }
    .slide_right {
        display: none
    }
    .btn_sb_book {
        width: 100% !important
    }
}
@media (max-width: 1024px) and (min-width: 992px) {
    .box__sb_info {
        border: 1px solid #ccc;
        margin-top: 10px
    }
}
@media (min-width: 992px) {
    .box_relate_course_mobile {
        display: none
    }
}
@media (max-width: 991px) {
    .btn_sb_book {
        width: 200px !important
    }
    .buy_and_wish {
        display: flex;
        justify-content: center
    }
    .p_price {
        text-align: center
    }
    .buy_and_wish .btn_heart i {
        margin-left: 40px
    }
    .btn_need_fix {
        display: none !important
    }
    .content_need_fix {
        display: none
    }
    .entry_detail .row .box_relate_course {
        display: none
    }
    .box_right {
        display: inline-block;
        width: 100%
    }
    .box_infor_course {
        box-shadow: 0 0 6px #b7b7b7;
        margin-top: 40px;
        padding-top: 15px
    }
    #box_intro table,
    #box_extra table,
    #menu_course table {
        width: 100%
    }
}
@media (min-width: 768px) {
    .ul_mobile_teacher {
        display: none
    }
}
@media(max-width: 767px) {
    .ul_list_tabs_details li {
        text-align: center
    }
    .list_tabs_details .ul_list_tabs_details li a {
        margin: 0;
        padding: 0 5px
    }
    .box_banner_img img {
        max-width: unset
    }
    .ul_desktop_teacher {
        display: none
    }
    #home .box_tcez-index {
        display: block !important
    }
    .box_tcez-index .modal-footer {
        text-align: left
    }
    .list_tcez {
        padding: 0 15px 20px
    }
    .course_youth iframe,
    .box_right_youth {
        display: none
    }
    .box_carousel_teacher:before {
        height: 77px;
        top: -20px
    }
    .box_carousel_teacher {
        padding-top: 20px
    }
    .content_first_detail {
        top: 50px
    }
    .ul_info_course {
        flex-wrap: wrap
    }
    .box__rate {
        width: 100%
    }
}

@media (max-width: 1024px) and (min-width:992px) {
    #list_course_cat .box_liclnews .info_sub {
        display: inline-block
    }
    #list_course_cat .box_liclnews .info_sub span {
        float: none;
        display: inline-block
    }
}
@media (max-width: 1024px) {
    .select_course .infor_select {
        margin-top: 15px
    }
    .box_liclnews .img_boxli img {
        height: 100%
    }
    #footer-index {
        padding-bottom: 80px
    }
    .logo_mobile img {
        max-height: 100%
    }
    a#backTop {
        bottom: 82px
    }
}
@media (max-width: 767px) {
    .list_tabs_details .ul_list_tabs_details li.active a {
        border-bottom: none
    }
    .list_tabs_details .ul_list_tabs_details li.active {
        border-bottom: 2px solid #b22b25
    }
    .box_liclnews .body_course {
        padding-left: 15px
    }
    .boxkhl_w .box_content .body_course {
        padding-left: 15px
    }
    .box_khl .formatTextStandard {
        padding: 0 15px
    }
    .icon_menu_mb {
        line-height: 40px
    }
    #menu_2019 {
        height: 60px
    }
    .logo_mobile {
        height: 40px
    }
    #footer-index {
        padding-bottom: 60px
    }
    #footer-index .list_social {
        text-align: left
    }
    a#backTop {
        bottom: 62px
    }
    .nav_menu_mobile_2019 {
        bottom: 60px
    }
    .nav_menu_mobile_2019 li .sub_menu a {
        font-size: 16px
    }
}
@media (max-width: 360px) {
    .breadcrumb_360 {
        margin-top: 45px
    }
} */
/* .formatTextStandard p {
    max-width: 100%;
    overflow: hidden
}
.mb-20 {
    margin-bottom: 20px !important
} */
/* @media (max-width: 991px) {
    .box_left_regist:before {
        content: none
    }
    #formRegister:before {
        content: none
    }
    .bread_up {
        margin-top: 0
    }
    .box_right_regist .body_regist {
        padding-left: 0
    }
    .box_left_regist {
        padding-bottom: 15px
    }
    .flex_mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse
    }
    .body_regist .btn_now {
        display: none
    }
    .block991 {
        display: block !important
    }
}
@media (max-width: 767px) {
    .bread_up {
        margin-top: 50px;
        background: none
    }
    .box_left_regist {
        padding-top: 0;
        border-bottom: 1px solid #e3e3e3
    }
    .box_infor_course {
        display: none
    }
    .buy_course {
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 999;
        width: 100%;
        padding: 0;
        display: flex;
        height: 60px;
        line-height: 60px
    }
    .buy_course .p_price {
        line-height: 60px;
        width: 50%;
        border-bottom: none
    }
    .buy_course .span_price {
        font-size: 22px
    }
    .buy_course .buy_now {
        color: #fff;
        background: #699212;
        display: block;
        text-align: center;
        font-size: 16px;
        width: 50%
    }
    .buy_course .buy_now a {
        color: #fff
    }
    .buy_course .curency {
        font-size: 16px
    }
    .content_first_detail .title_item {
        font-size: 30px;
        line-height: 40px;
        max-height: 80px;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden
    }
}

@media (max-width: 1024px) {
    .hidden768 {
        display: none !important
    }
    .block768 {
        display: block !important
    }
}
@media (max-width: 1024px) and (min-width: 992px) {
    #header .navbar-collapse.collapse {
        display: none !important
    }
}


@media (max-width: 767px) {
    .addcpn p {
        font-size: 14px
    }
	#backTop{
		display: none !important;
	}
	.box_inputw .form-control{
		height: 38px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-wkhtml-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
}

@media (max-width: 960px) {
    #logo_mobile {
        display: block;
        margin: 0
    }
    #logo_mobile img {
        max-height: 75px
    }
    .th1 {
        display: none
    }
}

@media screen and (max-width:576px){
	.home-search{
		width:100%;
	}
}

 */

