
*{
  margin: 0px;
  padding: 0px;
}
table tbody tr th, table tbody tr td{
  text-align: center;
}



.main-login h4{
  color: red;
}
select{
  border-radius: 5px;
}
label{
  text-align: right;
}

#add-staff a button{
  border-radius: 0.3em; 
  width: 135px;
}

#submit{
  border: none;
  color:white;
  background-color: red;
  padding: 0px 5px;
  border-radius: 0px 5px 5px 0px;
}
#add-staff button{
  
  color: white;
  background-color:#354b65; 
  border:none;
  height: 30px;
}

.dropdown button{
  margin-top: -3px;
}
.title-body, .content-body{
  padding-bottom: 15px;
  width: 98%;
  margin-left: 1%;
}
.title-body .row h4{
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}
#add-staff a{
  margin-left: 15px;
}
#manage-staff tr th{
  font-family:sans-serif;
}
.content-body{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #19232f;
}
.content-body h4{
  color: white; 
  margin-bottom: 35px;
  margin-left: 15px;

}
#manage-staff{
  color: white;
  margin-left: 15px;
  width: 97%;
}

.right-body{
  padding: 0px;
  background-color: #273444; 
  height: 100%;
}
#manage-staff th {
  background-color: black;
  height: 40px;
}
#pagination i{
  color: white;
}
#pagination button{
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
}
#search{
  outline: none;
  border: none;
  height: 100%;
}





@media only screen and (max-width: 576px) {
  .contain-header h3{
    font-size: 400%;
  }
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main-login img{
  margin-left: 47.5%;
  margin-bottom: 5%;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
