#view-course > tbody > tr > td > img{
    width: 165px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #view-course {
    color: white;
    margin-left: 15px;
    width: 97%;
}
#view-course tr td a{
  color: white;
  text-decoration: none;
}
