.btn-secondary{
    background-color: #151D26 !important;
    border-color: #151D26 !important;
  }
  .accordion-button{
    color: white;
  }
  .accordion-button p{
    color: white;
    margin-left: 27px !important;
    margin: 0 auto;
    font-size: 20px;
  }
  .accordion-button{
    border-radius: 0em !important;
  }
  .accordion-body i{
    margin-right: 5px;
  }
  
  
  .accordion-button i{
    color: white;
    
  }
  .accordion-button::after{
    display: none;
  }
  .accordion-item{
    border:none;
  }
  #top-menu-left img{
    width: 25%;
    border-radius: 20px;
  }
  .dropdown-menu{
    background-color: #101010 !important;
  }
  .dropdown-item{
    color: white !important;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    background-color: #333333 !important;
  }
  .right-header h3{
    margin-left: -5px;
  }
  #top-menu-left{
    display: flex;
  }
  .accordion-item{
    border: none !important;
  }
  .left-body{
    padding: 0px;
    background-color: #273444; 
    height: 100%;
  }
  #top-menu-left p{
    margin-top: 10px;
  }
  .accordion-collapse a{
    color: white;
    text-decoration: none;
  }
.btn-secondary{
  background-color: black !important;
}
#dropdownMenuButton1{
  border: none !important;
}
.left-body{
    padding: 0px;
    background-color: #273444; 
    height: 100%;
  }
  .accordion-button{
    border-radius: 0em !important;
  }
  .dropdown-toggle::after{
    font-size: 25px;
    margin-bottom: -5px;
  }
  .notify{
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
    border-radius: 40px;
    text-align: center;
    font-size: 15px;
    padding: 0px 5px;
    margin-top: -20px;
  }