#orderPrint{
    border: 1px solid black;
    width: 700px;
    margin: 0 auto;
    padding: 0px 10px 80px 30px;
}
#title{
    text-align: center;
    margin-bottom: 25px;
}
#title1 p{
    text-align: center;
}
#title1{
    margin-top: 10px;

}
#logo{
    margin-top: 10px;
}
#infor, #product{
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#infor p, #product p{
    margin-bottom: 5px;
}
.information h4{
    margin-left: 15px;
}
#footer{
    margin-top: 20px;
}