/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@media (min-width: 768px){
.col-sm-4 {
    width: 33.33333333%;
    padding-top: 10px;
}}
  
@media (min-width: 768px){
.col-sm-8 {
    width: 66.66666667%;
}}

.body_re{
  padding-right: 15px;
}

#errorLogin{
  color: red;
}
body,input {
  font-family: "Poppins", sans-serif;
}

.forms-container{
  width: 550px;
  margin: 0 auto;
  /* border: 1px solid ; */
}

.title{
  /* margin-top: 20px; */
  padding-top: 20px;
  border-bottom: 1px solid;
  padding-bottom: 15px;
  
}


.header_bot{
  display: none;
}

.list_social{
  display: none;
}

.list_social1 li{
  display: none;
}

#email,#password ,#name , #phone , #address, #Confirmpassword{
  width: 90%;
  height: 40px;
  /* text-align: center; */
  padding-left: 10px;

  margin-bottom: 15px;
  
}

.btn{
  /* margin-left: 15px; */
  /* width: 97%; */
  width: 66%;
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
  
  color: white;
  background-color: #B22B25;
}
  
#form-log{
  text-align: center;
  /* margin-top: 40px;
  margin-bottom: 40px; */
  padding-top: 100px;
  /* padding-bottom: 40px;
  */
}

.bg{
  background:  url(../images/9.png) no-repeat ;
  height: 720px;
  margin-top: -10px;
}

.signup{
  background-color: white;
}
.signin{
  background-color: white;
}