@{
  ViewData["Title"] = "Thông tin cá nhân";
}

<head>
  <link rel="stylesheet" href="~/css/changeCourse.css?v=1" />
</head>
@using System;
@using CourseTeachCook.Models;
@using System.Collections.Generic;
@using System.Linq;

  
  <div class="right-body col-lg-10">
    <div class="content-body">
      <h4>Cập nhật số lượng học viên</h4>
      @using (var system = new CourseTeachCookContext())
      {
        Course course = ViewBag.course;
        <div class="row" id="head">
          
          <form asp-controller="Course" asp-action="ChangeNumberOfStudent" asp-route-id="@course.CourseId"
          method="POST" enctype="multipart/form-data">
            <div id="content">
              <div class="row content" id="email">
                <p class="col-lg-2">Khóa học</p>
                <p class="col-lg-4 detail">@course.CourseName</p>
              </div>
              <div class="row content" id="email">
                <p class="col-lg-2">Số lượng học viên</p>
                <input type="text" name="numberOfStudent" class="detail" placeholder="Nhập số lượng học viên">
              </div>
              @if (ViewBag.result != null)
              {
                @if (ViewBag.result.Equals(true))
                {
                  <div class="row content">
                    <p class="col-lg-2"></p>
                    <button class="result col-lg-3 btn btn-success">Đổi thành công</button>
                  </div>
                }
                else
                {
                  <div class="row content">
                    <p class="col-lg-2"></p>
                    <button class="result col-lg-3 btn btn-danger">Đổi thất bại</button>
                  </div>
                }
              }
              <div class="submitForm">
                <input type="submit" value="Lưu thông tin">
              </div>

            </div>
          </form>
        </div>

      }


    </div>
  </div>
